/* done*/

.footer {
  text-align: center;
  max-width: 880px;
  width: 100%;
  margin: 47px auto;
}

.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 318px;
  color: #545454;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .footer {
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    margin: 48px 0 36px 19px;
  }
}
