
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 19px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    display: none;

}

.modal__opened {
    display: flex;
}

.modal__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: auto;
    padding: 36px;
    border-radius: 10px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}

.modal__inputs {
    align-items: center;
    height: 27.255px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-bottom: 5px;
    
    width: 100%;
}

.modal__inputs:last-of-type {
    margin-top: 29.74px;
  }
  

.modal__heading {
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 54px;
}

.modal__close {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 6px);
    left: calc(100% + 6px);
    background-color: transparent;
    width: 40px;
    height: 40px;
    
}

.modal__button {
    width: 358px;
    height: 50.152px; 
    border-radius: 2px;
    border: none;
    background: #000;
    color: #fff;
    text-align: center;
    justify-content: baseline;
    margin-top: 48px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.modal__close:hover {
    opacity: 0.6;
  }


.modal__button:hover {
    opacity: 0.8;
  }

.modal__inputs:last-of-type {
    margin-top: 29.74px;
  }


  @media screen and (max-width: 630px) {
    .modal__container {
      width: 282px;
      padding: 25px 22px;
    }
  
    .modal__heading {
      font-size: 18px;
      width: 238px;
      padding-bottom: 75px;
    }
  
    .modal__inputs {
      width: 100%;
      font-size: 14px;
    }
  
    .modal__button {
      width: 100%;
      height: 46px;
      margin-top: 45px;
      font-size: 14px;
    }
  
    .modal__close {
      width: 26px;
      height: 26px;
      bottom: calc(100% + 25px);
      left: calc(100% - 30px);
    }
  }
  